

$red: #ed1d24;
$primary-color: #4183c4;
$font: ooredoo, helvetica, arial, sans-serif ;
$font2: futura, Helvetica, Arial, sans-serif ;

$green: #62bb46;
$yellow: #febd3b;
$blue: #00bdf2;
$purple: #8e5ba6;
$turquoise: #47bfaf;
$gray: #3d5567;
$pink: #e871ab;
$brown: #72635d;

ul,li{
  margin:0;
  padding:0;
  list-style: none;
}


@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-bold-webfont.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-light-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
  font-family: futura;
  src: 
      url('../fonts/futura_lt_bold.woff2') format('woff2'),
      url('../fonts/futura_lt_bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: futura;
  src:
      url('../fonts/futura_lt_book.woff2') format('woff2'),
      url('../fonts/futura_lt_book.woff') format('woff');
  font-weight: 400;
}

*:not(input.field) {    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}


*::-webkit-input-placeholder {
  font-size: 12px;
  color: #666;
  padding-top: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 12px;
     color: #666;
     padding-top: 1px;
}

:-ms-input-placeholder {  
   font-size: 12px;
     color: #666;
     padding-top: 1px;
}

button,a{
  outline: none!important;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
}

body{
  font: 1.4em/1.4 $font;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  // background: url(../img/bg.png) center top no-repeat;
  .flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

@media screen {
  div#preloader {
    position: absolute;
    left: -9999px;
    top:  -9999px;
  }
  div#preloader img {
    display: block;
  }
}
@media print {
  div#preloader, 
  div#preloader img {
    visibility: hidden;
    display: none;
  }
}

.rightTop{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: 135px;
  z-index: 100;
}
.leftBottom{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 135px;
  z-index: 101;
}
.leftTop{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  z-index: 102;
  & img{
    width: 180px
  }
}

.wrapper-all{
  width: 810px;
  height: 730px;
  margin: 0 auto;
  overflow: hidden;
  background: #333;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.loader{
  background:#FFF;
  width: 100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}
.game-ui{
  position: absolute;
  top: 0;
  width: 810px;
  height: 730px;
  overflow: hidden;
}
.sound-btn{
  background: transparent;
  border-radius: 30px;
  border: 2px solid rgba(255,255,255,0.8);
  padding: 2px 10px;
  color: #FFF;
  text-align: left;
  cursor: pointer;
  margin-top: 6px;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
  opacity: 0.6;
  &:hover{
    opacity:1;
  }
  & span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 5px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &.active{
      background: #FFEB00;
    }
  }
}

.how-to{
  background: url(../img/help.png);
  width: 135px;
  height: 123px;
  position: absolute;
  z-index: 10;
  bottom: 39px;
  right: 25px;
  .how-to-btn{
    top: 60px;
    position: absolute;
    left: 37px;
    display: block;
    width: 100px;
    height: 100px;
    img{
      margin-top: 46px;
    }
  }
}

.info-widget{
  position: absolute;
  z-index: 10;
  background: #213039;
  top: 195px;
  width: 290px;
  left: 227px;//7px;
  padding: 8px;
  border-radius: 100px 0 0 100px;
  .picture{
    width: 60px;
    height: 60px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    img{
      width: 100%;
    }
  }
  .info{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    color: #FFF;
    .icon-lock{
      color: #999;
    }
    h4,h5{
      font-weight: bold;
      margin: 0;
      color: #faf375;
      text-transform: uppercase;
      font-size: 13px;
      font-family: $font2;
    }
    h5{
      color: #97a9b6;
      font-size: 10px;
    }
    p{
      margin: 0;
    }
  }
}

.logo-inner{
  z-index: 10;
  position: absolute;
  top: 65px;
  left: -290px;
}

.ranking-wrapper  {
  width: 360px;
  background: #2b343b;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  .user-ranking li{
    height: 50px;
    margin-bottom: 20px;
    margin-left: 60px
  }
  .close-btn{
    color: #FFF;
    background: #2b343b;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -25px;
    line-height: 52px;
    text-align: center;
    font-size: 23px;
    font-weight: lighter;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &:hover{
      color: #3d5667;
    }
  }
  h2{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    padding: 48px 0 46px 83px;
    margin-top: 60px;
    background: url(../img/bg-ranking.png) no-repeat;
  }
  .rank{
    width: 40px;
    font-size: 20px;
    color: #faf375;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-top: 8px;
  }
  .picture{
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    img{
      width: 100%;
    }
  }
  .info{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    color: #FFF;
    h4,h5{
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $font2;
    }
    h5{
      color: #97a9b6;
    }
  }

  .my-info{
    background: #3d5667;
    padding: 7px;
    padding-bottom: 14px;
    border-radius: 0 60px 60px 0;
    margin-top: 50px;
    padding-left: 60px;
    width: 120%;
    .title{
      color: #FFF;
      font-weight: bold;
      font-size: 24px;
      margin: 5px;
    }
    .rank{
      width: 70px;
      font-size: 30px;
      color: #7fcfcb;
      margin-top: 9px;
    }
    .picture{
      width: 55px;
      height: 55px;
      img{
        width: 100%;
      }
    }
    .info{
      h4,h5{
        color: #7fcfcb;
        font-size: 14px;
      }
      h5{
        color: #FFF;
      }
    }
  }
  .btn{
    padding: 8px 30px 8px 13px;
    font-size: 14px;
    color: #FFF;
    background: #8faf0d;
    font-weight: bolder;
    margin: 5px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-family: $font;
    i{
      background: rgba(0,0,0,0.2);
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 8px;
    }
    &:hover{
      background: darken(#8faf0d,10%);
    }
    &.share-fb{
      background: #1675ab;
      position: relative;
      margin-left: 40px;
      &:hover{
        background: darken(#1675ab,10%);
      }
      &.bonus::before{
        content: '+';
        background: #ed1c24;
        display: block;
        font-weight: bolder;
        width: 32px;
        height: 32px;
        line-height: 29px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0 5px 6px rgba(0,0,0,0.4);
        position: absolute;
        top: -13px;
        right: -8px;
        overflow: visible;
      }
    }
  }
}
.ranking-wrapper-back{
  background: rgba(0,0,0,0.4);
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

.help-wrapper{
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: none;

  .content{
    background: #2b343b;
    padding: 40px 40px;
    width: 90%;
    height: 100%;
    text-align: center;
    list-style: none;
    color: #FFF;
    img.howto{
      width: 100%;
      margin-top: 50px;
    }
  }
  .how-to-btn-close{
    color: #FFF;
    background: #2b343b;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 35px;
    margin-right: -65px;
    line-height: 52px;
    text-align: center;
    font-size: 23px;
    font-weight: lighter;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &:hover{
      color: #3d5667;
    }
  }
}


.callto-wrapper{
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;

  .content{
    background: #2b343b url(../img/bg_shareing.png) no-repeat center center;
    padding: 20px 40px 20px;
    margin-top: 200px;
    width: 100%;
    text-align: center;
    list-style: none;
    color: #FFF;
  }
  a{
    margin: 30px 40px 10px;
    display: inline-block;
  }
  .callto-btn-close{
    color: #FFF;
    background: #2b343b;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -45px;
    margin-right: -20px;
    line-height: 52px;
    text-align: center;
    font-size: 23px;
    font-weight: lighter;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &:hover{
      color: #3d5667;
    }
  }
}
.menu-wrapper{
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;

  & ul{
    background: #2b343b;
    margin: 300px 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    list-style: none;
    color: #FFF;
  }
  & a{
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    display: block;
    color: #6a6e72;
    & span{
      color: #FFF;
      display: block;
      font-size: 28px;
      -webkit-transition: all 0.1s; /* Safari */
      transition: all 0.1s;
    }
    &:hover span{color: #d9bcaf}
    &:hover{
      background: #3d444a;
      text-decoration: none;
    }
  }
}


.menu-icn-wrapper{
  border-radius: 50px;
  border: 2px solid #FFF;
  width: 38px;
  height: 38px;
  font-size: 10px;
  text-align: center;
  color: #FFF;
  padding: 3px;
  cursor: pointer;
  position: relative;
  float: right;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
  opacity: 0.9;
  &:hover{
    opacity:1;
  }
}

  .menu-icn::after {
    content: 'Menu';
    position: absolute;
    bottom: -28px;
    left: -2px;
  }
  .menu-icn {
    width: 20px;
    height: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 4px;
    cursor: pointer;

  }

  .menu-icn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #FFF;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


  .menu-icn span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  .menu-icn span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }

  .menu-icn span:nth-child(1), .menu-icn span:nth-child(2) {
    top: 0;
  }

  .menu-icn span:nth-child(3), .menu-icn span:nth-child(4) {
    top: 50%;
  }

  .menu-icn span:nth-child(5), .menu-icn span:nth-child(6) {
    top: 100%;
  }

  .menu-icn.open span:nth-child(1),.menu-icn.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu-icn.open span:nth-child(2),.menu-icn.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-icn.open span:nth-child(1) {
    left: 2px;
    top: 2px;
  }

  .menu-icn.open span:nth-child(2) {
    left: calc(50% - 1px);
    top: 2px;
  }

  .menu-icn.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  .menu-icn.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  .menu-icn.open span:nth-child(5) {
    left: 2px;
    top: 9px;
  }

  .menu-icn.open span:nth-child(6) {
    left: calc(50% - 1px);
    top: 9px;
  }
.elements-bg{
  position: absolute;
  z-index: 0;

}
#game-wrapper{
  position: relative;
  width: 810px;
  height: 730px;
  overflow: hidden;
  background: #728e9f url(../img/bg.jpg);

  .page-wrapper{
    background-image: url(../img/bg-stage.png);
    width: 745px;
    position: absolute;
    height: 520px;
    top: 125px;
    left: 30px;
    z-index: 102;
  }

  .page {
    width: 745px;
    height: 510px;
  }

}
.floating{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  pointer-events: none;
  img{
    pointer-events: none;
    position: absolute;
    z-index: 100;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &.top-cloud{
      top: -30px;
      left: 343px;
    }
    &.left-cloud{
      top: 130px;
      left: 60px;
    }
    &.right-cloud{
      top: 70px;
      right: 0px;
    }
  }
}
.page{ 

  .forest{
    position: absolute;
    top: 299px;
    left: 168px;
    z-index: 1;
  }
  .keyboard{
    position: absolute;
    top: 340px;
    left: 115px;
    z-index: 1;
  }

  &.home{
    .logo{
      position: absolute;
      top: 70px;
      left: 133px;
    }
    .icones{
      position: absolute;
      top: 32px;
      left: 171px;
    }
    .action-btn{
      position: absolute;
      bottom: -20px;
      left: 200px;
      z-index: 40;
      transform: scale(1.2);
      left: 292px;
    }
    p{
      position: absolute;
      bottom: -80px;
      width: 400px;
      left: calc(50% - 200px);
      text-align: center;
      font-weight: bold;
      font-size: 11px;
    }
  }
  &.form{
    form{
      position: relative;
      z-index: 10;
    }
    .title{
      margin-left: 72px;
      margin-bottom: 15px;
      margin-top: -20px;
    }
    .container{
      width: 430px;
      float: right;
      margin-right: 145px;
      margin-top: 50px;
    }
    .action-btn{
      background: #47beae;
      box-shadow: none;
      margin-left: 120px;
      padding: 5px 15px 5px 25px;
    }
    .form-control{
      border-radius: 40px;
      border: none;
      padding: 4px 20px;

    }
    .info{
      font-size: 12px;
      margin-left: 10px;
      a{
        color: #8db1c5;
      }
    }
  }
  &.stages{
    height: 460px !important;
    .forest{
      position: absolute;
      top: 239px;
      left: 168px;
      z-index: 1;
    }
    .keyboard{
      position: absolute;
      top: 280px;
      left: 115px;
      z-index: 1;
    }
    .content{
      width: 450px;
      margin-left: 163px;
      margin-top: 60px;
      p{
        font-size: 13px;
        font-weight: bold;
        padding: 10px 40px 0;
      }
      .row span{
        display: inline-block;
        width: 100%;
        margin-top: 5px;
        font-weight: bold;
        color: #bede3b;
        text-align: center;
      }
      .btn-stage{
        width: 127px;
        height: 127px;
        margin-top: 10px;
        margin-right:28px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #FFF;
        font-weight: bold;
        background-image: url(../img/bg-btn-stage.png);
        background-position: left center;
        background-repeat: no-repeat;
        position: relative;
        &.disabled{
          cursor: default;
        }
        &.disabled::before{
          content: '';
          top: 0;
          border-radius: 50%;
          left: 0;
          width: 121px;
          height: 121px;
          position: absolute;
          background: rgba(0,0,0,.5);
          display: block;
        }
        & span{
          display: block;
          color: #fff16b;
        }
        & i{
          font-size: 34px;
        }
        &.active i{
          width: 50px;
          height: 50px;
          display: block;
          font-size: 12px;
          background: rgba(0,0,0,0.6);
          line-height: 50px;
          border-radius: 50%;
          font-style: normal !important;
          margin: 13px auto;
          color: #fff16b;
        }
        &.active:hover{
          transform: scale(1.2);
          border: 5px solid #FFF;
          box-shadow: 0 0 10px rgba(0,0,0,0.6);
          border-color: #a8e560;
        }
        &.active:active{
          box-shadow: inset 0 0 12px rgba(0,0,0,0.8);
          border-color: #a8e560;
        }
        &.active .date{
          display: none;
        }
      }
      .btn-stage[data-index="1"]{
        background-color: #78A3BA;
      }
      .btn-stage[data-index="2"]{
        background-color: #5f406e;
        background-position: center;
      }
      .btn-stage[data-index="3"]{
        background-color: #3D906D;
        background-position: right center;
        margin-right: 0px;
      }
    }
  }
}

.action-btn{
  padding: 8px 15px 8px 25px;
  border-radius: 40px;
  background: #ed1c24;
  border: none;
  font-size: 21px;
  font-weight: bold;
  color: #FFF;
  text-align: left;
  box-shadow: 10px 6px #FFF;
  i{
    background: rgba(0,0,0,0.2);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 13px;
    margin-top: 4px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
  }
  .sub{
    display: block;
    font-size: 9px;
    margin-left: 7px;
    margin-top: -4px;
    text-transform: uppercase;
  }
  &:hover{
    background: darken(#ed1c24,10%);
    i{transform: translateX(10px);}
  }
}


#verify{
  position: absolute;
  bottom: -30px;
  left: 310px;
}

#drag-land {
  display: block;
  height: 490px;
  width:563px;
  margin-left: 106px;
  position: absolute;

  .tooltip{
    min-width: 60px;
    text-align: center;
    *{
      font-family: tahoma, sans-serif;
      font-size: 14px !important;
    }
  }

  .block,
  .block-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    position: relative;
    margin: 5px;
    border: 5px solid #FFF;
  }

  .block{
    width: 60px;
    height: 60px;
    background: url(../img/bg-drags.png) center center;
    transform-origin: center center 0px;
    position: absolute;
    float: left;
    &::after{
      content: '';
      background-size: 100%;
      border-radius: 50%;
      display: block;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .block-placeholder {
    background: #D4E2EC;
    cursor: default;
    &::before {
      content: '';
      width: 54px;
      height: 54px;
      border-radius: 50%;
      display: block;
      border: 3px solid #92d2f5;
      margin-top: -7px;
      margin-left: -7px;
    }
    &:hover {
      background-color: #eeeeee;
    }
  }
}

.drags, .drops {
  position: absolute;
}

.drops {
  margin-top: 413px;
  margin-left: 72px;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
}

#time{
  color: #FFF;
  font-family: $font2;
  font-size: 17px;
  width: 140px;
  height: 38px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 38px;
  background: #213039;
  position: absolute;
  top: 375px;
  left: 213px;
  span{
    margin-right: 5px;
  }
}

.next-alert{
  position: absolute;
  z-index: 10000;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  height: 300px;
  background-color: #213039;
  border-radius: 50%;
  border: 5px solid #bede3b;
  box-shadow: 0 0 100px 30px rgba(142,236,232,0.2);
  text-align: center;
  padding-top: 60px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  /* Chrome, Safari, Opera */
  h3{
    color: #bede3b;
    font-weight: bold;
    font-size: 22px;
  }
  .rep{
    height: 60px;
    width: 273px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: center -23px;

  }
  p{
    color: #678498;
  }
}

body[class^="lab-3"] .rep{background-image:url(../img/rep-lvl1.png) !important;}
body[class^="lab-4"] .rep{background-image:url(../img/rep-lvl2.png) !important;}
body[class^="lab-5"] .rep{background-image:url(../img/rep-lvl3.png) !important;}

body[class^="lab"]{
  .how-to{
    display: none;
  }
}

#drag-land[class^="game1"]{
  .drops{
    overflow: hidden;
    background-image: url(../img/frt.png);
    background-repeat: no-repeat;
    background-position: center -23px;
    width: 405px;
    height: 60px;
  }

  #h1{
    margin-left: 191px;
  }
}

#drag-land[class^="game2"]{
  .drops{
    overflow: hidden;
    background-image: url(../img/frt2.png);
    background-repeat: no-repeat;
    background-position: center -23px;
    width: 475px;
    height: 60px;
  }

  #h1{
    margin-left: 163px;
  }
}
#drag-land[class^="game3"]{
  .drops{
    right: 79px !important;
    margin-left: 0 !important;
  }
  .block-placeholder{
    margin: 10px;
    float: right !important;
  }
}

// body[class="game1-2"] .drops, body[class="game1-2"] .next-alert .rep{ background-position: center -88px !important;}
// body[class="game1-3"] .drops, body[class="game1-3"] .next-alert .rep{ background-position: center -159px !important;}
// body[class="game1-4"] .drops, body[class="game1-4"] .next-alert .rep{ background-position: center -222px !important;}
// body[class="game1-5"] .drops, body[class="game1-5"] .next-alert .rep{ background-position: center -291px !important;}
// body[class="game1-6"] .drops, body[class="game1-6"] .next-alert .rep{ background-position: center -359px !important;}
// body[class="game1-7"] .drops, body[class="game1-7"] .next-alert .rep{ background-position: center -429px !important;}
// body[class="game1-8"] .drops, body[class="game1-8"] .next-alert .rep{ background-position: center -494px !important;}
// body[class="game1-9"] .drops, body[class="game1-9"] .next-alert .rep{ background-position: center -559px !important;}
// body[class="game1-10"] .drops, body[class="game1-10"] .next-alert .rep{ background-position: center -631px !important;}

/*body[class="game1-1"],*/body[class="lab-321"]{
  #d1::after{ background-image: url(../img/icn/4.png)}
  #d2::after{ background-image: url(../img/icn/1.png)} // true
  #d3::after{ background-image: url(../img/icn/5.png)}
  #d4::after{ background-image: url(../img/icn/9.png)}
}
/*body[class="game1-2"],*/body[class="lab-322"]{
  #d1::after{ background-image: url(../img/icn/1.png)}
  #d2::after{ background-image: url(../img/icn/2.png)}
  #d3::after{ background-image: url(../img/icn/3.png)}
  #d4::after{ background-image: url(../img/icn/4.png)} // true
}
/*body[class="game1-3"],*/body[class="lab-323"]{
  #d1::after{ background-image: url(../img/icn/8.png)}
  #d2::after{ background-image: url(../img/icn/9.png)} // true
  #d3::after{ background-image: url(../img/icn/7.png)}
  #d4::after{ background-image: url(../img/icn/3.png)}
}
/*body[class="game1-4"],*/body[class="lab-324"]{
  #d1::after{ background-image: url(../img/icn/7.png)} // true
  #d2::after{ background-image: url(../img/icn/8.png)}
  #d3::after{ background-image: url(../img/icn/4.png)}
  #d4::after{ background-image: url(../img/icn/2.png)}
}
/*body[class="game1-5"],*/body[class="lab-325"]{
  #d1::after{ background-image: url(../img/icn/1.png)}
  #d2::after{ background-image: url(../img/icn/3.png)} // true
  #d3::after{ background-image: url(../img/icn/9.png)}
  #d4::after{ background-image: url(../img/icn/7.png)}
}
/*body[class="game1-6"],*/body[class="lab-326"]{
  #d1::after{ background-image: url(../img/icn/11.png)} // true
  #d2::after{ background-image: url(../img/icn/10.png)}
  #d3::after{ background-image: url(../img/icn/8.png)}
  #d4::after{ background-image: url(../img/icn/6.png)}
}
/*body[class="game1-7"],*/body[class="lab-327"]{
  #d1::after{ background-image: url(../img/icn/10.png)}
  #d2::after{ background-image: url(../img/icn/4.png)}
  #d3::after{ background-image: url(../img/icn/6.png)} // true
  #d4::after{ background-image: url(../img/icn/2.png)}
}
/*body[class="game1-8"],*/body[class="lab-328"]{
  #d1::after{ background-image: url(../img/icn/11.png)}
  #d2::after{ background-image: url(../img/icn/7.png)}
  #d3::after{ background-image: url(../img/icn/8.png)} // true
  #d4::after{ background-image: url(../img/icn/5.png)}
}
/*body[class="game1-9"],*/body[class="lab-329"]{
  #d1::after{ background-image: url(../img/icn/3.png)}
  #d2::after{ background-image: url(../img/icn/2.png)}
  #d3::after{ background-image: url(../img/icn/1.png)}
  #d4::after{ background-image: url(../img/icn/8.png)} // true
}
/*body[class="game1-10"],*/body[class="lab-330"]{
  #d1::after{ background-image: url(../img/icn/4.png)}
  #d2::after{ background-image: url(../img/icn/1.png)} 
  #d3::after{ background-image: url(../img/icn/2.png)}// true
  #d4::after{ background-image: url(../img/icn/9.png)}
}



/*body[class="game1-1"],*/body[class="lab-421"]{
  #d1::after{ background-image: url(../img/icn2/4.png)}
  #d2::after{ background-image: url(../img/icn2/1.png)}
  #d3::after{ background-image: url(../img/icn2/3.png)}// true
  #d4::after{ background-image: url(../img/icn2/9.png)}
  #d5::after{ background-image: url(../img/icn2/13.png)}
  #d6::after{ background-image: url(../img/icn2/11.png)}
}
/*body[class="game1-2"],*/body[class="lab-422"]{
  #d1::after{ background-image: url(../img/icn2/8.png)}
  #d2::after{ background-image: url(../img/icn2/2.png)}
  #d3::after{ background-image: url(../img/icn2/6.png)}
  #d4::after{ background-image: url(../img/icn2/12.png)}
  #d5::after{ background-image: url(../img/icn2/4.png)}
  #d6::after{ background-image: url(../img/icn2/3.png)}// true
}
/*body[class="game1-3"],*/body[class="lab-423"]{
  #d1::after{ background-image: url(../img/icn2/4.png)}
  #d2::after{ background-image: url(../img/icn2/6.png)}// true
  #d3::after{ background-image: url(../img/icn2/7.png)}
  #d4::after{ background-image: url(../img/icn2/11.png)}
  #d5::after{ background-image: url(../img/icn2/9.png)}
  #d6::after{ background-image: url(../img/icn2/13.png)}
}
/*body[class="game1-4"],*/body[class="lab-424"]{
  #d1::after{ background-image: url(../img/icn2/2.png)}// true
  #d2::after{ background-image: url(../img/icn2/8.png)}
  #d3::after{ background-image: url(../img/icn2/5.png)}
  #d4::after{ background-image: url(../img/icn2/7.png)}
  #d5::after{ background-image: url(../img/icn2/10.png)}
  #d6::after{ background-image: url(../img/icn2/9.png)}
}
/*body[class="game1-5"],*/body[class="lab-425"]{
  #d1::after{ background-image: url(../img/icn2/12.png)}
  #d2::after{ background-image: url(../img/icn2/3.png)}
  #d3::after{ background-image: url(../img/icn2/4.png)}
  #d4::after{ background-image: url(../img/icn2/5.png)}// true
  #d5::after{ background-image: url(../img/icn2/9.png)}
  #d6::after{ background-image: url(../img/icn2/1.png)}
}
/*body[class="game1-6"],*/body[class="lab-426"]{
  #d1::after{ background-image: url(../img/icn2/1.png)}// true
  #d2::after{ background-image: url(../img/icn2/10.png)}
  #d3::after{ background-image: url(../img/icn2/3.png)}
  #d4::after{ background-image: url(../img/icn2/6.png)}
  #d5::after{ background-image: url(../img/icn2/8.png)}
  #d6::after{ background-image: url(../img/icn2/9.png)}
}
/*body[class="game1-7"],*/body[class="lab-427"]{
  #d1::after{ background-image: url(../img/icn2/10.png)}
  #d2::after{ background-image: url(../img/icn2/4.png)}
  #d3::after{ background-image: url(../img/icn2/6.png)}
  #d4::after{ background-image: url(../img/icn2/2.png)}
  #d5::after{ background-image: url(../img/icn2/9.png)}// true
  #d6::after{ background-image: url(../img/icn2/12.png)}
}
/*body[class="game1-8"],*/body[class="lab-428"]{
  #d1::after{ background-image: url(../img/icn2/11.png)}
  #d2::after{ background-image: url(../img/icn2/9.png)}// true
  #d3::after{ background-image: url(../img/icn2/6.png)}
  #d4::after{ background-image: url(../img/icn2/5.png)}
  #d5::after{ background-image: url(../img/icn2/2.png)}
  #d6::after{ background-image: url(../img/icn2/4.png)}
}
/*body[class="game1-9"],*/body[class="lab-429"]{
  #d1::after{ background-image: url(../img/icn2/3.png)}
  #d2::after{ background-image: url(../img/icn2/12.png)}
  #d3::after{ background-image: url(../img/icn2/6.png)}
  #d4::after{ background-image: url(../img/icn2/13.png)}
  #d5::after{ background-image: url(../img/icn2/1.png)}
  #d6::after{ background-image: url(../img/icn2/10.png)}// true
}
/*body[class="game1-10"],*/body[class="lab-430"]{
  #d1::after{ background-image: url(../img/icn2/4.png)}
  #d2::after{ background-image: url(../img/icn2/1.png)} 
  #d3::after{ background-image: url(../img/icn2/7.png)}// true
  #d4::after{ background-image: url(../img/icn2/3.png)}
  #d5::after{ background-image: url(../img/icn2/9.png)}
  #d6::after{ background-image: url(../img/icn2/5.png)}
}



/*body[class="game1-1"],*/body[class="lab-521"]{
  #d1::after{ background-image: url(../img/icn3/phrase1/mail.png)}
  #d2::after{ background-image: url(../img/icn3/phrase1/li9a.png)}
  #d3::after{ background-image: url(../img/icn3/phrase1/tjib.png)}
  #d4::after{ background-image: url(../img/icn3/phrase1/7iit.png)}
}
/*body[class="game1-2"],*/body[class="lab-522"]{
  #d1::after{ background-image: url(../img/icn3/phrase2/ghir-rbo3.png)}
  #d2::after{ background-image: url(../img/icn3/phrase2/tawa.png)}
  #d3::after{ background-image: url(../img/icn3/phrase2/lol.png)}
  #d4::after{ background-image: url(../img/icn3/phrase2/ghir.png)}
}
/*body[class="game1-3"],*/body[class="lab-523"]{
  #d1::after{ background-image: url(../img/icn3/phrase3/koura.png)}
  #d2::after{ background-image: url(../img/icn3/phrase3/mala.png)}
  #d3::after{ background-image: url(../img/icn3/phrase3/tag.png)}
  #d4::after{ background-image: url(../img/icn3/phrase3/lyoum.png)}
  #d5::after{ background-image: url(../img/icn3/phrase3/ti3.png)}
}
/*body[class="game1-4"],*/body[class="lab-524"]{
  #d1::after{ background-image: url(../img/icn3/phrase4/chorba.png)}
  #d2::after{ background-image: url(../img/icn3/phrase4/3asfour.png)}
  #d3::after{ background-image: url(../img/icn3/phrase4/n7eb.png)}
  #d4::after{ background-image: url(../img/icn3/phrase4/lsen.png)}
}
/*body[class="game1-5"],*/body[class="lab-525"]{
  #d1::after{ background-image: url(../img/icn3/phrase5/7weyej.png)}
  #d2::after{ background-image: url(../img/icn3/phrase5/tweet.png)}
}
/*body[class="game1-6"],*/body[class="lab-526"]{
  #d1::after{ background-image: url(../img/icn3/phrase6/salla.png)}
  #d2::after{ background-image: url(../img/icn3/phrase6/ftour.png)}
  #d3::after{ background-image: url(../img/icn3/phrase6/youtube.png)}
} 
/*body[class="game1-7"],*/body[class="lab-527"]{
  #d1::after{ background-image: url(../img/icn3/phrase7/wa7cha.png)}
  #d2::after{ background-image: url(../img/icn3/phrase7/like.png)}
}
/*body[class="game1-8"],*/body[class="lab-528"]{
  #d1::after{ background-image: url(../img/icn3/phrase8/b.png)}
  #d2::after{ background-image: url(../img/icn3/phrase8/lyoum.png)}
  #d3::after{ background-image: url(../img/icn3/phrase8/slata.png)}
  #d4::after{ background-image: url(../img/icn3/phrase8/yt.png)}
  #d5::after{ background-image: url(../img/icn3/phrase8/link.png)}
  #d6::after{ background-image: url(../img/icn3/phrase8/klit.png)}
}
/*body[class="game1-9"],*/body[class="lab-529"]{
  #d1::after{ background-image: url(../img/icn3/phrase9/sou9a.png)}
  #d2::after{ background-image: url(../img/icn3/phrase9/tayebet.png)}
  #d3::after{ background-image: url(../img/icn3/phrase9/tajinn.png)}
  #d4::after{ background-image: url(../img/icn3/phrase9/mail.png)}
}
/*body[class="game1-10"],*/body[class="lab-530"]{
  #d1::after{ background-image: url(../img/icn3/phrase10/7oms.png)}
  #d2::after{ background-image: url(../img/icn3/phrase10/100t.png)} 
  #d3::after{ background-image: url(../img/icn3/phrase10/atini.png)}
  #d4::after{ background-image: url(../img/icn3/phrase10/gram.png)}
}




